<div class="example-container">
    <div class="form-container">
      <form [formGroup]="registerForm" (submit)="submitHandler(registerForm)">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Username
          </mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
            <span *ngIf="registerForm.controls.username.errors.required">This field is mandatory.</span>
            <span *ngIf="registerForm.controls.username.errors.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
            <span *ngIf="registerForm.controls.email.errors.required">This field is mandatory.</span>
            <span *ngIf="registerForm.controls.email.errors.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" type="password" required>
          <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
            <span *ngIf="registerForm.controls.password.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Repeat Password
          </mat-label>
          <input matInput formControlName="rePassword" type="password" required>
          <mat-error *ngIf="registerForm.controls.rePassword.touched && registerForm.controls.rePassword.invalid">
            <span *ngIf="registerForm.controls.rePassword.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Register</button>
      </form>
    </div>
  </div>
