<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{currentUser.username}}</mat-card-title>
    <mat-card-subtitle>Email address: {{currentUser.email}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="currentUser.phone">Phone number: {{currentUser.phone}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addBtn()" mat-button color="primary">Edit Phone number and Username</button>
  </mat-card-actions>
</mat-card>
<form [hidden]="isDisplayed" #f="ngForm" (ngSubmit)="submitHandler(f.value)" class="example-form" >
  <mat-form-field class="example-full-width">
    <mat-label>Phone number</mat-label>
    <input type="phone" matInput [(ngModel)]="currentUser.phone" name="phone" placeholder="+359 888 888888">
    <!-- <mat-error *ngIf="!phoneFormControl.hasError('required')">
      Please enter a valid phone number!
    </mat-error> -->
    <!-- <mat-error *ngIf="phoneFormControl.hasError('required')">
      Phone number is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input type="username" matInput required [(ngModel)]="currentUser.username" name="username" placeholder="Username">
    <!-- <mat-error *ngIf="!phoneFormControl.hasError('required')">
      Please enter a valid phone number!
    </mat-error> -->
    <!-- <mat-error *ngIf="phoneFormControl.hasError('required')">
      Phone number is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>

